﻿
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/General/_Layout.cshtml";
}

<h2 class=" titulo1"><b>CONSORCIO</b></h2>

<h2 class=" titulo2"><b>LEYVA</b></h2>


<!-- 3D Slideshow Section -->
<div class="slideshow">
	<div class="skills-container">
		<div class="skills-carousel">
			<figure class="skills-slide">
				<img src="~/Img/1.jpg" alt="" class="skills-logo html-logo">
			</figure>
			<figure class="skills-slide">
				<img src="~/Img/2.jpg" alt="" class="skills-logo css-logo">
			</figure>
			<figure class="skills-slide">
				<img src="~/Img/3.jpg" alt="" class="skills-logo js-logo">
			</figure>
			<figure class="skills-slide">
				<img src="~/Img/4.jpg" alt="" class="skills-logo jquery-logo">
			</figure>
			<figure class="skills-slide">
				<img src="~/Img/5.jpg" alt="" class="skills-logo bootstrap-logo">
			</figure>
			<figure class="skills-slide">
				<img src="~/Img/6.jpg" alt="" class="skills-logo wordpress-logo">
			</figure>
			<figure class="skills-slide">
				<img src="~/Img/7.jpg" alt="" class="skills-logo git-logo">
			</figure>
			<figure class="skills-slide">
				<img src="~/Img/8.jpg" alt="" class="skills-logo github-logo">
			</figure>
			<figure class="skills-slide">
				<img src="~/Img/2.jpg" alt="" class="skills-logo ally-logo">
			</figure>
			<figure class="skills-slide">
				<img src="~/Img/4.jpg" alt="" class="skills-logo ps-logo">
			</figure>
			<figure class="skills-slide">
				<img src="~/Img/6.jpg" alt="" class="skills-logo ai-logo">
			</figure>
		</div>
	</div>
</div>



