﻿@model Examen2.Models.Auto

@{
	ViewBag.Title = "Registrar Auto";
	Layout = "~/Views/General/_Layout.cshtml";
}

<div class="container d-flex flex-column justify-content-center h-100 ">
	<h2 class="text-center">NUEVO AUTO</h2>

	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()

		@Html.ValidationSummary(true, "", new { @class = "text-danger" })

		<div class="form-group">
			@Html.LabelFor(model => model.Placa, htmlAttributes: new { @class = "control-label col-md-2 pl-0" })

			@Html.EditorFor(model => model.Placa, new { htmlAttributes = new { @class = "form-control col" } })
			@Html.ValidationMessageFor(model => model.Placa, "", new { @class = "text-danger" })

		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Año, htmlAttributes: new { @class = "control-label col-md-2 pl-0" })

			@Html.EditorFor(model => model.Año, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Año, "", new { @class = "text-danger" })

		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Modelo, htmlAttributes: new { @class = "control-label col-md-2 pl-0" })

			@Html.EditorFor(model => model.Modelo, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Modelo, "", new { @class = "text-danger" })

		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.idMarca, htmlAttributes: new { @class = "control-label col-md-2 pl-0" })

			@Html.DropDownListFor(model => model.idMarca, new SelectList(ViewBag.marcas, "idMarca", "Nombre"), htmlAttributes: new { @class = "custom-select" })
			@Html.ValidationMessageFor(model => model.idMarca, "", new { @class = "text-danger" })

		</div>

		<div class="form-group">
			<div class="col-md-offset-2">
				<input type="submit" value="Registrar" class="btn btn-primary" />
				@Html.ActionLink("Volver al Listado", "ListarAutos", null, new { @class = "btn btn-outline-primary" })

			</div>
		</div>
	}
</div>



