﻿
@model IEnumerable<Examen2.Models.Viaje>

	<table class="table table-dark">
		<thead>
			<tr>
				<th>ID</th>
				<th>Origen</th>
				<th>Destino</th>
				<th>Fecha de Partida</th>
				<th>Fecha de LLegada</th>
				<th>Conductor</th>
				<th>Modelo de Auto</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var v in Model)
			{
				<tr>
					<td>@Html.DisplayFor(modelitem => v.ViajeId)</td>
					<td>@Html.DisplayFor(modelitem => v.Origen)</td>
					<td>@Html.DisplayFor(modelitem => v.Destino)</td>
					<td>@Html.DisplayFor(modelitem => v.FechaPartida)</td>
					<td>@Html.DisplayFor(modelitem => v.FechaLLegada)</td>
					<td>@Html.DisplayFor(modelitem => v.NombreConductor)</td>
					<td>@Html.DisplayFor(modelitem => v.ModeloAuto)</td>
				</tr>
			}
		</tbody>
	</table>