﻿@model IEnumerable<Examen2.Models.Viaje>

@{
	ViewBag.Title = "Buscar Viajes por Año";
}

<div class="row ">
	<div class="col d-flex justify-content-center">
		<a href="@Url.Action("BuscarViajesPorAnio")" class="btn btn-primary mr-3">Buscar Viaje Por Año</a>
		<a href="@Url.Action("BuscarViajesPorConductorYAnio")" class="btn btn-outline-primary mr-3 ">Buscar Viaje Por Conductor Y Año</a>
		<a href="@Url.Action("BuscarViajesPorAutoYAnio")" class="btn btn-outline-primary mr-3">Buscar Viaje Por Auto y Año</a>
	</div>
</div>

<h2 class="text-center m-5 font-weight-bold">BUSCAR VIAJES POR AÑO DE PARTIDA</h2>

@using (Html.BeginForm())
{
	<div class="row mb-5 w-50 mr-auto ml-auto">
		<div class="col">
			@{
				var listado = new List<SelectListItem>()
				{
					new SelectListItem()
					{
						Text = "Seleccione el Año de Partida",
						Value = null,
					},
					new SelectListItem()
					{
						Text = "2011",
						Value = "2011",
					},
					new SelectListItem()
					{
						Text = "2012",
						Value = "2012",
					},
				};
			}
			@Html.DropDownList("anio", listado, new { @class = "custom-select" })

		</div>
		<div class="col-1">
			<div class="input-group-append">
				<button class="btn btn-primary" id="button-addon2">Buscar</button>
			</div>
		</div>


	</div>

}

@Html.Partial("_PartialViajes")