﻿@model IEnumerable<Examen2.Models.Viaje>

@{
	ViewBag.Title = "Buscar Viajes Por Auto y Anio";
}

	<div class="row ">
		<div class="col d-flex justify-content-center">
			<a href="@Url.Action("BuscarViajesPorAnio")" class="btn btn-outline-primary mr-3">Buscar Viaje Por Año</a>
			<a href="@Url.Action("BuscarViajesPorConductorYAnio")" class="btn btn-outline-primary mr-3 ">Buscar Viaje Por Conductor Y Año</a>
			<a href="@Url.Action("BuscarViajesPorAutoYAnio")" class="btn btn-primary mr-3">Buscar Viaje Por Auto y Año</a>
		</div>
	</div>

<h2 class="title text-center m-5 font-weight-bold">BUSCAR VIAJES POR AUTO Y AÑO DE PARTIDA</h2>



@using (Html.BeginForm())
{
<div class="row m-5">
	<div class="col">
		<div class="input-group">
			@Html.TextBox("auto", null, new { @class = "form-control", placeholder = "Modelo de Auto" })
		</div>
	</div>


	<div class="col">
		@{
			var listado = new List<SelectListItem>()
			{
					new SelectListItem()
					{
						Text = "Seleccione el Año de Partida",
						Value = null,
					},
					new SelectListItem()
					{
						Text = "2011",
						Value = "2011",
					},
					new SelectListItem()
					{
						Text = "2012",
						Value = "2012",
					},
				};
		}
		@Html.DropDownList("anio", listado, new { @class = "custom-select" })

	</div>
	<div class="col-2">
		<div class="input-group-append">
			<button class="btn btn-primary btn-block" id="button-addon2">Buscar</button>
		</div>
	</div>
</div>

}


@Html.Partial("_PartialViajes")